<%- include('./partials/header') %>
<link rel="stylesheet" href="/static/article.css" />
<link rel="stylesheet" href="/static/pagination.css">
<script src="/static/pagination.js?t=123"></script>
<script type="text/javascript">tag = 'chanshuo'</script>

<div class="columns is-desktop">
    <div class="column is-9">
        <form method="POST" action="/chanshuo/article" id="artSelector" >
            <input type="hidden" id="artID" name="artID" value="" />
            <input type="hidden" id="year" name="year" class="year" value="<%= year %>" />
            <input type="hidden" id="month" name="month" class="month" value="<%= month %>" />
        </form>
        <div class="page-card-list">
            <div class="box" style='padding-top: 16px' id="content">

            </div>
            <div id='pagination'></div>
        </div>
    </div>
    <div class="column is-3 is-one-quarter-fullhd">
        <aside class="menu toc">
            <ul class="menu-list">
                <% if(catData.length) {%>
                <li id='toc-container'>
                    <p style='font-size: large; font-weight: bold;text-align:center;'>博文分类</p>
                </li>
                <li>
                <%  catData.forEach((parentCat) => {%>
                    <p class="menu-label" style='font-size:medium; font-weight: bold'><%= parentCat.label %></p>
                    <ul>
                        <% parentCat.categories.forEach((cat) => {%>
                        <li><a onclick="showArticleList('<%= cat.cid %>')"><%= cat.title %></a></li>
                        <% }) %>
                    </ul>
                <% }) %>
                </li>
                <%}%>
            </ul>
            <form method="POST" action="/chanshuo/list" id="catSelector" >
                <input type="hidden" id="catID" name="catID" class="catID" value="" />
                <input type="hidden" id="year" name="year" class="year" value="<%= year %>" />
                <input type="hidden" id="month" name="month" class="month" value="<%= month %>" />
                <input type="hidden" id="pageIndex" name="pageIndex" value="<%= pageIndex %>" />
                <input type="hidden" id="pageSize" name="pageSize" value="<%= pageSize %>" />
            </form>
        </aside>
    </div>
</div>
<%- include('./partials/footer') %>

<script type="text/javascript">

    let pageIndex = 1;
    $(function(){
        paginator('month');
    })
    var key = ''
    var paginator = function(kind, cId){
        let year = '<%= year %>';
        let month = '<%= month %>';
        var container = $('#pagination');
        if (!container.length) return;
        let url = `/api/blog/datelist?year=${year}&month=${month}`;
        if(kind === 'category') url=`/api/blog/list?cID=${cId}`;
        container.pagination({
            dataSource: url,
            locator: 'artData',
            pageNumber: pageIndex,
            showSizeChanger: true,
            totalNumberLocator:function(res) { return res.total; },
            pageSize: 10,
            ajax: {
                beforeSend: function() {
                    $('#content').html(`<p style='text-align:center;font-size:16px;magin:40px auto;'>正在获取数据，请稍候 ......</p>`);
                }
            },
            callback: function(data, pagination) {
                setTimeout(function() { genHtml(data); },500);
            }
        })
    }
    function genHtml(data){
        var dataHtml = "";
        $.each(data, function(index,item){
            dataHtml += `<article class='media' style='padding: 8px'><div class='media-content'><div class='content'>`;
            dataHtml += `<div class='page-card-title'><a onclick="showArticle('${item.id}')">${item.title ? item.title : '无标题'}</a></div>`;
            dataHtml += `<span class='tag is-light'>博文类别:</span><a class='tag is-light' onclick="showArticleList('${item.cid}')"">${item['CSCategory.title']}</a>`;
            let issuedate =  (!item.issuedate || item.issuedate.trim() === ''  ? '-/-' : (item.issuedate.split('-')[0] + '/' + item.issuedate.split('-')[1])) ;
            let issuedate1 = (!item.issuedate || item.issuedate.trim() === ''  ? '--' : item.issuedate.substring(0, 10));
            dataHtml += `<span class='tag is-light'>发表日期:</span><a class='tag is-light' href='/chanshuo/${issuedate}'>${issuedate1}</a>`;
            dataHtml += `<div class='page-card-text page-card-text-desc'>${item.content ? removeHtml(item.content) : '无描述信息'}</div>`;
            dataHtml += `</div></div></article>`;
        })
        pageIndex = pagination.pageNumber;
        $('#content').html(dataHtml);
    }
    
    function removeHtml(html){
        var regex = /<[^>]+>/g
        let result = html.replaceAll(regex, "");
        return result;
    }

    function showArticleList(catId){
        $('.catID').val(catId);
        $('#pageIndex').val(1);
        $('#pageSize').val((pageSize || 10));
        pageIndex = 1;
        paginator('category',catId)
        //$('#catSelector').submit();
    }
    function showArticle(id){
        $('#artID').val(id);
        $('#artSelector').submit();
    }
</script>