<%- include('./partials/header') %>
<link rel="stylesheet" href="/static/article.css" />
<script type="text/javascript">tag = 'chanshuo'</script>

<div class="columns is-desktop">
    <div class="column is-9">
        <section class="block hidden">
            <input type="checkbox" id="chk">
            <div class="case-block case-block-mask" style="display:block;">
                <div class="showbtn"><label for="chk"> 展开全部</label></div><div class="showbtn">收起</div>
            </div>
            <div class="detail"></div>
        </section>
    </div>
    <div class="column is-3 is-one-quarter-fullhd">
        <aside class="menu toc">
            <ul class="menu-list">
                <% if(data.length) {%>
                <li id='toc-container'>
                    <p style='font-size: large; font-weight: bold;text-align:center;'>博文分类</p>
                </li>
                <li>
                <%  data.forEach((parentCat) => {%>
                    <p class="menu-label" style='font-size:medium; font-weight: bold'><%= parentCat.label %></p>
                    <ul>
                        <% parentCat.categories.forEach((cat) => {%>
                        <li><a onclick="showArticleList('<%= cat.cid %>')"><%= cat.title %></a></li>
                        <% }) %>
                    </ul>
                <% }) %>
                </li>
                <%}%>
            </ul>
            <form method="POST" action="/chanshuo/list" id="catSelector" ><input type="hidden" id="cID" name="cID" value="" /></form>
        </aside>

    </div>
</div>

<%- include('./partials/footer') %>

<script type="text/javascript">
    var html = `<%= article.content.replaceAll("\`","’") %>`;
    var text = $('.detail').html(html).text();
    $('.detail').html(text);
    $('.block').removeClass('hidden');
    
    $(document).ready(function(){
        if($('.block').height() < 850) {
            $('.case-block').css({'display':'none'})
        }
    });

    function showArticleList(cid){
        $('#cID').val(cid);
        $('#pageIndex').val(1);
        $('#pageSize').val(15)
        $('#catSelector').submit();
    }
</script>